/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i ,label, small{
    text-decoration: none;
    color: rgb(225, 239, 230);
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
    padding: 1rem 0;
}

h3 {
    font-size: 5rem;
}

p, a {
    font-size: 2.5rem;
}
button, input, label {
    font-size: 2rem;
} 
small {
    font-size: 1rem;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
.header-container {
    background-color: rgb(0, 4, 17, .8);
    display: flex;
    flex-direction: column;
    
}
.header-container nav {
    display: flex;
    justify-content: space-around;
}
.header-container nav a {
    padding: 1rem 4%;
}
.header-container .icons a {
    padding: 1rem 1%;
}

/* spacers */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* gallery section */
.gallery {
    width: 100%;
    text-align: center;
    background-color: rgb(0, 4, 17);
}
.gallery-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.gallery img {
    margin: 1rem auto;
    width: 30%;
}

/* about us section */
.about {
    width: 100%;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
    padding: 2rem;
}

.about-container .text {
    width: 60%;
    padding: 10rem 0;
}

/* contact us section */
.contact {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact h2 {
    padding-top: 5vh;
}

.contact h3 {
    padding-top: 2.5vh;
}

.contact p {
    padding: .5vh 0;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.address {
    width: 25%;
}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
}

/* footer section */
footer {
    width: 100%;
    padding: 2rem;
    background-color: rgb(0, 4, 17);
    display: flex;
    flex-flow: row wrap;
}
footer form {
    flex-basis: 25%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    
}
footer form label{
    flex-basis: 100%;
    text-align: center;
    padding: 1rem;
}
footer form input {
    flex-basis: 75%;
}
footer form button {
    padding: 0.5rem;
    flex-basis: 25%;
    
}
footer nav {
    flex-basis: 75%;
    display: flex;
    justify-content: space-around;
}

footer nav a {
    padding-bottom: 3rem;
}

footer small {
    flex-basis: 100%;
    text-align: right;
    margin-right: 10%;
}
@media screen and (max-width: 1440px) {
    .contact a {
        font-size: 2rem;
    }
    footer form input {
        flex-basis: 100%;
    }
    footer form button {
        flex-basis: 100%;
    }
    footer form {
        flex-basis: 35%;
    }
    footer nav {
        flex-basis: 65%;
    }
}

/* mobile media query */
@media screen and (max-width: 800px) {
    p, a {
        font-size: 2rem;
    }
    h1 {
        font-size: 4.5rem;
    }
    h2 {
        font-size: 5.5rem;
    }
    /* header section */
    header h1 span {
        display: block;
    }
    header nav {
        flex-flow: column wrap ;
    }
    /* gallery section */
    .gallery-container {
        flex-direction: column;
    }
    .gallery img {
        width: 70%;
        margin: 1rem auto;
    }
    /* about section */
    .info {
        flex-wrap: wrap;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    /* footer section */
    footer {
        flex-flow: column wrap;
        align-items: center;
    }
    footer nav {
        flex-flow: column;
        align-items: center;
        padding: 2rem 0;
    }
    footer nav a {
        padding-bottom: 1rem;
    }
    footer small {
        margin: 0;
        text-align: center;
    }
    
}

@media screen and (max-width: 428px) {
    h2 {
        font-size: 5rem;
    }
    /* header section */

    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 4rem;
    }

    header h1 span {
        display: block;
    }
    
    /* gallery section */
    
    .gallery img {
        width: 100%;
        margin: 1rem auto;
    }
    
    /* about us section */
    
    .about {
        height: 200vh;
    }
    
    .about h2 {
        width: 100%;
        padding-top: 4vh;
    }
    .about-container {
        padding: 0;
    }
    
    .about-container .text {
        width: 90%;
        padding: 5vh 0;
    }
    
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    
    
    /* footer section */
    footer {
        padding-top: 2.5vh;
    }    
}



@media screen and (max-width:350px) {
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 3rem;
    }
    p {
        font-size: 2rem;
    }
}
